::marker{
	color:blue;

}
h1{
	color: white;
	background-color: #FFFF00;
	text-shadow: 2px 3px 4px #000000
}
button[type=button]{
	background-color: #DFFFDF;s
	color:gray;
	margin-left:400px;
}
div:hover {
	display: block;
}

img{
	margin-left:400px;
	

}
